/* player.js */

/* Player Info */
#player-info {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  box-sizing: border-box;
}

#player-info h3 {
  color: var(--color-primary);
  margin-top: 0;
  font-size: var(--font-size-large);
}

#player-basic-info, #player-stats {
  border: 1px solid var(--color-border);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}

#player-basic-info p, #player-stats p {
  margin: var(--spacing-small) 0;
  font-size: var(--font-size-small);
}

#player-stats h4 {
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
  color: var(--color-primary);
  font-size: var(--font-size-medium);
}

#player-stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-small);
}

#player-hp {
  transition: color var(--transition-speed) ease;
}

.stat-increase-btn {
  margin-left: var(--spacing-small);
  padding: 0 var(--spacing-small);
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-small);
  transition: background-color var(--transition-speed) ease;
}

.stat-increase-btn:hover {
  background-color: var(--color-hover);
}

/* Skills and Spells */
.panel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: var(--spacing-medium);
}

.panel-header span {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  margin-right: var(--spacing-small);
}

.toggle-button {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: var(--font-size-large);
  padding: 0;
}

.toggle-button:hover {
  color: var(--color-hover);
}

#skill-panel, #spell-panel, #inventory {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  box-sizing: border-box;
}

#skill-content, #spell-content, #inventory-content {
  border: 1px solid var(--color-border);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}

#skill-grid, #spell-grid, #inventory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-small);
}

.skill-slot, .spell-slot, .inventory-slot {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-vsmall);
  text-align: center;
  color: var(--color-text);
  word-break: break-all;
  overflow: hidden;
  cursor: pointer;
}

.skill-slot:hover, .spell-slot:hover, .inventory-slot:hover {
  background-color: var(--color-hover);
}

/* Inventory */
#inventory, #skill-panel, #spell-panel {
  border: 1px solid var(--color-border);
}

#inventory h3 {
  color: var(--color-primary);
  margin-top: 0;
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
}

.inventory-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.inventory-header span {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  margin-right: var(--spacing-small);
}

#toggleInventory, #toggleSpell, #toggleSkill {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: var(--font-size-large);
  padding: 0;
  margin: 0;
}

#toggleInventory:hover {
  color: var(--color-hover);
}

#inventory-list {
  list-style-type: none;
  padding: 0;
}

#inventory-list li {
  margin-bottom: var(--spacing-small);
  background-color: #444444;
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
}

.inventory-slot.empty::after {
  content: 'Empty';
  color: #888;
}

.inventory-slot:not(.empty) {
  cursor: pointer;
}

/* Character Creation */
#character-creation {
  position: fixed;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  text-align: center;
  border: 2px solid var(--color-primary);
}

#character-creation h2 {
  margin-top: 0;
}

#character-creation input,
#character-creation select,
#character-creation button {
  display: block;
  width: 100%;
  margin: var(--spacing-medium) 0;
  padding: var(--spacing-small);
}

#character-creation button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: var(--spacing-medium);
  cursor: pointer;
}

#character-creation button:hover {
  background-color: var(--color-hover);
}

/* Media Queries */
@media (max-width: 1200px) {
  #player-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
    margin-bottom: 0;
  }

  #player-basic-info, #player-stats {
    flex: 1;
    min-width: 200px;
  }

  #player-stats-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #inventory-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  #player-info {
    flex-direction: column;
  }

  #player-stats {
    margin-top: var(--spacing-medium);
  }

  #inventory-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  #skill-grid, #spell-grid, #inventory-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}